<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.vortex">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".PaiementStates.PaiementState1"></activity>
        <activity android:name=".PaiementStates.PaiementState" />
        <activity android:name=".Setting" />
        <activity android:name=".Profile" />
        <activity android:name=".loginAndRegister.Otp" />
        <activity android:name=".loginAndRegister.test" />
        <activity android:name=".loginAndRegister.ResetPasswordThird" />
        <activity android:name=".loginAndRegister.ResetPasswordBoth" />
        <activity android:name=".loginAndRegister.ResetPasswordFirst" />
        <activity android:name=".loginAndRegister.Register" />
        <activity android:name=".loginAndRegister.Login" />
        <activity android:name=".splah.IntroActivity" />
        <activity android:name=".splah.IntroScreen" />
        <activity android:name=".splah.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>